body{
    text-align: center;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
}
/**index**/
.logo{
    display: flex;
   align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    
}
.navbar a{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
     
   
}

.voce h2{
 font-size: 30px;
    margin-top: 75px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}
.duvida img{
    align-items: center;
    padding: 5%;
   width:30%;
   height:30%; 
}
.historia{
    text-align: center;
    margin: 5%;

    padding: auto;
    font-size: 20px;
}
#botao{
    font-size: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 5% ;
  padding: 0.9%;

}
#botao a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.vantagens h1{
    font-size: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    
}
.vantagens h4{
text-decoration:underline;
font-size: 20px;
}


/*SOBRE*/
.palavras p {
    text-align: center;
}

.titulo1 p {
        font-size: 21px;
        transition-property: font-size;
        transition-duration: 3s;
        transition-delay: 3s;     
}

/*modelos*/

.row {
    align-items: center;
  }

/*sombra do card etc*/
.card {
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        padding: 30px;
        margin: 20px;
        width: 400px;
       
}
.card img{
    font-size: 5px;
}
/*tamanho iphone mores*/
.iphone{
    width:40%;
    height:40%;
}

/*footer*/
.footer{
    font-family:"Poppins", sans-serif;
    position: flex;
    padding: 1%;
    margin-top: 2%;
    background-color: black;
  }
.footer p{
    font-size: 15px;
    color: white;
}